{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block body %}

<!-- Sing in  Form -->
<section class="sign-in">
	<div class="container">
		<div class="signin-content">
			<div class="signin-image">
				<figure><img src="{% static 'accounts/images/signin-image.jpg' %}" onContextMenu="return false;" draggable="false" alt="sing up image"></figure>
				<a href="{% url 'accounts:register' %}" class="signup-image-link">Create an account</a>
			</div>

			<div class="signin-form">
				<h2 class="form-title">Login</h2>
				<form method="POST" class="register-form" id="login-form">
				{% csrf_token %}
				{{form|crispy}}
					<div class="form-group">
						<input type="checkbox" name="remember-me" id="remember-me" class="agree-term" checked>
						<label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
					</div>
					<div class="form-group form-button">
						<input type="submit" name="signin" id="signin" class="form-submit" value="Log in">
					</div>
				</form>
				<div class="social-login">
					<span class="social-label">Or login with</span>
					<ul class="socials">
						<li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
						<li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
						<li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %}